<% if @error_message %>
  <div class="form-error">
    <%= @error_message %>
  </div>
<% end %>
<% @user = User.new %>
<%= form_for(@user, :url => {:action => :login, :controller => :user}) do |f| %>
    
  <%= f.label :ユーザー名 %>
  <%= f.text_field :name ,:value => "#{@name}" %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  
  <%= f.submit  "ログイン" %>
<% end %>
