<%= form_for(@user, :url => {:action => :create, :controller => :user}) do |f| %> 
    <%= f.label :ユーザー名 %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>

    <% if session[:error].present? %>
        <ul class="errors">
            <% session[:error].each do |e| %>
                <li><%= e %></li>
            <% end %>
        </ul>
        <% session[:error] = nil # 念のため使い終わったら消す %> 
    <% end %>
<% end %>
