<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div>
  <div>
      <%= form_for(@post, :url => {:action => :edit, :controller => :posts} ) do |f| %>

      <%= f.label :product_name %>
      <%= f.text_field :product_name %>

      <%= f.label :price %>
      <%= f.number_field :price %>

      <%= f.label :content %>
      <%= f.text_field :content %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
