<div class="main posts-new">
    <div class="container">
        <h1 class="form-heading">投稿する</h1>
        <%= form_for(@post, :url => {:action => :create, :controller => :posts}) do |f| %>
            <% @post.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
            <% end %>
            <%= f.label :商品名 %>
            <%= f.text_field :product_name %>

            <%= f.label :価格 %>
            <%= f.number_field :price %>

            <%= f.label :商品の概要 %>
            <%= f.text_area :content %>

            <%= f.label :オークションの締切時間 %>
            <%= f.datetime_select :endTime, :default => @post.endTime %>

            <%= f.submit %>
        <% end %>
    </div>
</div>
<% if session[:error].present? %>
    <ul class="errors">
        <% session[:error].each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>
    <% session[:error] = nil %>
<% end %>
