<div>
  <%= link_to("back", "/posts/index") %>
</div>

<br>
<div>
  <b>商品名</b>
  <br>
  <%= @post.product_name %>
  </p>

  <p>
    <b>価格</b>
    <br>
    <%= @post.price %>円
  </p>

  <p>
    <b>概要</b>
    <br>
    <%= @post.content %>
  </p>
  <p>
    <b>画像</b>
    <br>
    <img src="<%= "/posts_images/#{@post.id}" %>" >
  </p>
  </p>
</div>
<% if @current_user.id == @post.user_id %>
    <div>
      <%= link_to("/posts/#{@post.id}/edit") do %>
        <div>
          編集
        </div>
      <% end %>
    </div>
<% end %>

