<div>
  <%= link_to("back", "/posts/index") %>
</div>

<br>
<div>
  <b>商品名</b>
  <br>
  <%= @post.product_name %>
  </p>

  <p>
    <b>価格</b>
    <br>
    <%= @post.price %>円
  </p>

  <p>
    <b>概要</b>
    <br>
    <%= @post.content %>
  </p>
</div>
<% if @current_user.id == @post.user_id %>
  <div>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  </div>
<% end %>
<img src="<%= "/posts_images/#{@post.picture}" %>" width="300" height="300">

