<!DOCTYPE html>
<html>
    <head>
        <title>RailAuction</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header style="background-color: red">
            <% if @current_user %>
                <li>
                    <%= link_to("商品一覧", "/posts/index") %>
                </li>
                <li>
                    <%= link_to("新規投稿", "/posts/new") %>
                </li>
                <li>
                    <%= link_to("ユーザー一覧", "/user/index") %>
                </li>
                <li>
                    <%= link_to("ログアウト", "/user/logout/", {method: :post}) %>
                </li>
                <p>
                <%= link_to(@current_user.name, "/user/#{@current_user.id}") %>
                </p>
            <% end %>

            <% if flash[:notice] %>
                <div class="flash">
                    <%= flash[:notice] %>
                </div>
            <% end %>
        </header>
        <%= yield %>
    </body>
</html>
